<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>586260469097-n2dh6gabib6fb0lcjch3pnhcqanm0fvi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586260469097-n2dh6gabib6fb0lcjch3pnhcqanm0fvi</string>
	<key>API_KEY</key>
	<string>AIzaSyBeROwd0rArwK-QDe_REk_kUfg9ZMJS9dY</string>
	<key>GCM_SENDER_ID</key>
	<string>586260469097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.asf.fitness.ios.app</string>
	<key>PROJECT_ID</key>
	<string>asf-gym-app</string>
	<key>STORAGE_BUCKET</key>
	<string>asf-gym-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586260469097:ios:439d923b4333adbbf559f8</string>
</dict>
</plist>